body{
	background-image: url(../img/p.jpg);
}
div{
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin: auto;
	width: 70%;
	padding: 50px;
}
img{
	width: 300px;
	margin: 20px;
}
.cookiepush:hover{
	transform: scale(1.1);
	
}
.cookiepush:active{
	transform: scale(0.9);
	
}
.cookiepush{
	background: transparent;
	background-image: url(../img/cookie.png);
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
	border: none;
	margin: 30px;
	transition: all 0.5s ease;
}
.buy_auto {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #34ffff !important;
    color: #770db8 !important;
    border: 6px solid #278fb9 !important;
    border-radius: 38px !important;
    font-size: 16px !important;
    padding: 54px 4px !important; 
    transition: all 0.6s ease !important;
}
.buy_auto:hover{
    text-decoration: none !important; 
    background-color: #5d9cb5 !important;
    color: #0af458 !important;
    border-color: #06c2ff !important;
}
.button_babushka {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #6400e0 !important;
    color: #0cfaff !important;
    border: 9px solid #ffa600 !important;
    border-radius: 50px !important;
    font-size: 16px !important;
    padding: 50px 4px !important; 
    transition: all 0.6s ease !important;
}
.button_babushka:hover{
    text-decoration: none !important; 
    background-color: #006089 !important;
    color: #d2760d !important;
    border-color: #c30de7 !important;
}
